@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter+Tight:wght@500&display=swap');
/* ---/  font-family: 'Great Vibes', cursive;
         font-family: 'Inter Tight', sans-serif; /-----*/

.App {
  color: white;
  text-align: center;
  font-family: 'Inter Tight', sans-serif;   
}


