@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter+Tight:wght@500&display=swap');
/* ---/  font-family: 'Great Vibes', cursive;
         font-family: 'Inter Tight', sans-serif; /-----*/

.App {
  color: white;
  text-align: center;
  font-family: 'Inter Tight', sans-serif;  
  position: relative; 
}

@media only screen and (min-width: 770px) {
  .routes {
    position:absolute;
    width: 85%;
    height: 100%;
    top: 86px;
    left: 15%;
    text-align: center;
  }
  
}


