body {
  margin: 0;
  height: 100vh;
  margin:0px;
  background: rgb(5,5,5);
  background: linear-gradient(180deg, rgba(5,5,5,1) 30%, rgb(7, 22, 76) 84%, rgb(0, 0, 131) 100%);
  color: white;
  font-family: 'Inter Tight', sans-serif;   
}

