.container {
    width: fit-content;
    display: flex;
    
    
}
.cards {
    display: flex;
    flex-direction:column;
    text-align: left;
    color: black;
    margin: 50px 0px 0px 0px;
    border: 1px solid black;
    width: fit-content;
}
.image {
    position: relative;
    margin-bottom: 0px;
    border-radius: 10px;
}
.img {
    margin-bottom: 0px;
    border-radius: 10px;
}
.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px 6px 3px 6px;
    border-radius: 5%;
    background-color: #FFFFFF;
    z-index: 5;
}




.rating_info {
    display: flex;
    align-items: center;
    gap: 0.3em;
    margin-top: 0px;
}
.star {
    margin-top: -5px;
    padding-bottom: 2px;
    width: 20px;
    height: 20px;
}
.rating {
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: 500;
}
.gray_info {
    margin-top: 0px;
    margin-bottom: 0px;
    color: gray;
}
.title {
    margin: 5px 0px 0px 0px;
}
.price_person {
    margin-top: 5px;
}
.price {
    font-weight: 600;
}

