
.container {
    color: rgb(92, 92, 92);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #918E9B;
    height: 65px;
    border-radius: 0px 0px 10px 10px;
    font-size: 30px;
}
.socials:hover {
    color:#F5F5F5;
    transform: scale(1.1);
}
a {
    color: inherit;
}