.container {
    margin-left: 15%;
    margin-top: 10px;
}
.cards {
    width: 80%;
    background:#fff;
    display: flex;
    justify-content:center;
    gap: 2em;
    padding-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
}