*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    width: 150px;
}

 @media (min-width: 425px) {}
 
 @media (min-width: 768px) {}